@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-transparent text-gray-100 font-sans antialiased overflow-hidden;
  }
}

.drag-region {
  -webkit-app-region: drag;
}

.drag-none {
  -webkit-app-region: no-drag;
}
